<app-question-base [title]="data.title" [parseError]="parseError">
  <div content>
    <ng-katex-html [html]="data.description"></ng-katex-html>
    <nz-divider/>
    <div *ngIf="feedback !== undefined">
      <nz-alert
        [nzType]="feedback.type"
        [nzMessage]="feedback.title"
        [nzDescription]="feedbackDescription"
        [nzShowIcon]="feedback.showIcon"
      ></nz-alert>
      <ng-template #feedbackDescription><ng-katex-html [html]="feedback.description"/></ng-template>
      <br/>
    </div>
    <div *ngIf="data.options.length > 0">
      <nz-radio-group [(ngModel)]="selectedOption">
        <label *ngFor="let option of data.options"
               nz-radio ngModel
               [nzValue]="option.value"
               [nzDisabled]="feedback !== undefined && feedback.type === 'success'">
          <ng-katex [equation]="option.value" *ngIf="option.usesKaTeX; else nonKaTeX"/>
          <ng-template #nonKaTeX>{{option.value}}</ng-template>
        </label>
      </nz-radio-group>
    </div>
  </div>

  <div validate-trigger>
    <button nz-button nzType="primary"
            nzShape="round" (click)="validate()"
            [disabled]="selectedOption === undefined || feedback?.type == 'success'">
      <span nz-icon nzType="fa:clipboard-question-solid"></span>
      Check your answer
    </button>
  </div>
</app-question-base>
