:host {
  /*display: flex;*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 100vh;
}

nz-header {
  padding: 0;
  margin-bottom: 20px;
}

nz-footer {
  margin-top: 20px;
  text-align: center;
}

.router-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
